body {
    font-family: Arial, sans-serif;
    background-image: url('fond.jpg');
    background-position: center;
}

.nav-link:hover {
    color: blue;
    transition: color 0.3s;
}

section h2 {
    color: red;
    margin-bottom: 15px;
}

section {
    scroll-margin-top: 30px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #e2e2e2;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
}

section#accueil {   
    scroll-margin-top: 15px;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: white;
  color: #007bff;
  font-size: 24px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s;
}

#back-to-top:hover {
  transform: scale(1.1);
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.progress-ring__background {
  fill: none;
  stroke: #ddd;
  stroke-width: 4;
}

.progress-ring__circle {
  fill: none;
  stroke: #007bff;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 164; /* ~2Ï€r */
  stroke-dashoffset: 164;
  transition: stroke-dashoffset 0.2s;
}

#back-to-top span {
  position: relative;
  z-index: 2;
}

#texte_en-tete p {
    font-size: 14pt;
}

#texte_en-tete button {
    margin-bottom: 15px;
}

#image_en-tete img {
    margin-bottom: 15px;
}